<div class="pet-name">
    <h2>{{petName}}</h2>
</div>
<p>
<button type="button" class="adopt-pet-button" id="adopt-pet-button">Adopt This Pet!</button>
</p>
<article class="pet-profile">
    <div class="profile-image">
        <img src={{profilePic}} alt="Picture of small dog" class="pet-image"/>
    </div>

  <div class="pet-info-wrapper">
    <div class="pet-info">
        <p class="info-title">
            Species: 
        </p>

        <p class="info-text">
            {{species}}
        </p>

    </div>

    <div class="pet-info">
        <p class="info-title">
            Breed: 
        </p>

        <p class="info-text">
            {{breed}}
        </p>

    </div>

    <div class="pet-info">
        <p class="info-title">
            Favorite Toy:
        </p>

        <p class="info-text">
            {{favToy}}
        </p>

    </div>
    </div>
    <div class="pet-info-wrapper">
    <div class="pet-info">
        <p class="info-title">
            Bio: 
        </p>

        <p class="info-text">
            {{bio}}
        </p>

    </div>
    </div>

</article>
